@CHARSET "UTF-8";
.box{padding-top:1px; margin: 0 auto;width: 600px;text-align: center;}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:1px;
}

#section {
    width:350px;
    float:left;
    padding:2px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:0px;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
    border-right:1px solid #bbb;
    display: inline;
}

#nav li:last-child {
    border-right: none;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 2px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: green;
}

#nav .active {
    background-color: #333;
}
.bottom {
   position: relative;
	bottom: 0;
	width: 100%;
	height: 50px;
}